<% provide(:title, "Page under construction") %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="under-construction">
        <div><%= image_tag("lab-smiley-beakers.svg", alt: "StudyMe.Science logo", class: "lab-smiley") %></div>
        <h1>Hi there!</h1>
        <h2>This page is under construction at the moment, please check back later!</h2>
      </div>
    </div>
  </div>
</div>