@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$dark-blue: #000080;
$light-blue: #00d6ff;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
.navbar-inverse {
    background-color: $dark-blue;
}
#brand {
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  margin-right: 10px;
  
  font-size: 2.5em;
  margin-top: 20px;
  float: left;
  
  &:hover {
    color: white;
    text-decoration: none;
  }
  
  .highlight {
    color: $light-blue;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  
  img {
    width: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.navbar-nav > li > a.btn {
    margin-top: 40px;
    margin-right: 14px;
    padding: 4px 10px;
    background: inherit;
    border-color: #00d6ff;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
    line-height: 28px;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
      
      a.nav-text-link {
        line-height: 28px;
      }
      
      a.btn, a.btn:hover {
        padding: 4px 10px;
        background: inherit;
        color: $gray;
        border-color: navy;
        font-size: 14px;
      }
    }
  }
}