@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$dark-blue: #000080;
$light-blue: #00d6ff;
$light-blue-transparent: rgba(0, 214, 255, 0.05);
$bright-blue: #0012ff;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.text-center h1 {
  margin-bottom: 10px;
}

.highlight {
  color: $light-blue;
}

.btn.btn-lg {
  padding: 4px 10px;
}  

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a, a:hover {
  color: inherit;
}


/* header */
.navbar-inverse {
    background-color: $dark-blue;
}
#brand {
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  margin-right: 10px;
  
  font-size: 2.5em;
  margin-top: 20px;
  float: left;
  
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  
  img {
    width: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.navbar-nav > li > a.btn {
    margin-top: 40px;
    margin-right: 14px;
    background: inherit;
    border-color: $light-blue;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  padding-bottom: 80px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
    line-height: 28px;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
      
      a.nav-text-link {
        line-height: 28px;
      }
      
      a.btn, a.btn:hover {
        background: inherit;
        color: $gray;
        border-color: $dark-blue;
        font-size: 14px;
      }
    }
  }
}


/* Landing page */
.jumbotron {
  background-color: $light-blue-transparent;
    
  h1 {
    color: black;
  }
  
  h2 {
    font-size: 2em;
    color: $dark-blue;
    opacity: 0.85;
    
    .highlight {
      font-weight: bold;
    }
  }
  
  .btn.btn-lg.btn-primary {
    background-color: $bright-blue;
    border-color: $dark-blue;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
  }
}

#featured-lab {
//  border: 1px solid $dark-blue;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 14px;
  margin-bottom: 30px;
  font-size: 1.15em;
  
  div {
    margin-bottom: 8px;
  }
  
  .featured-heading {
    font-size: 1.3em;
    font-weight: bold;
  }
  
  .lab-label {
    color: $bright-blue;
    font-weight: bold;
  }
  
  .btn.btn-lg.btn-primary {
    background: inherit;
    border-color: $dark-blue;
    font-size: 14px;
    margin-top: 10px;
    color: $bright-blue;
    font-weight: bold;
  }
}

#descriptive-section {
  margin-bottom: 60px;
  
  h1 {
    color: $dark-blue;
  }
  .lab-smiley {
    width: 80px;
    opacity: 0.75;
  margin-bottom: 20px;
  }
}

