<div class="container offset-navbar">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">New Lab</h2>
      
      <%= render 'form', lab: @lab %>
      
      <%= link_to 'Back', labs_path %>

    </div>
  </div>
</div>