<footer class="footer">
  <small>
    &copy; 2017
    <%= link_to "StudyMe.Science", root_path %>
    | Web design & development by
    <a href="http://www.arigu.me">arigu.me</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path, class: "nav-text-link" %></li>
      <li><%= link_to "Contact", new_contact_path, class: "nav-text-link" %></li>
      <li><%= link_to "Help", help_path, class: "btn btn-lg btn-default" %></li>
    </ul>
  </nav>
</footer>